doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/app.css")
        title #{nombrePagina}
    body 
        header 
            .site-header.contenedor.separador 
                h1 
                    a(href="/") #{nombrePagina}  
                if crearNuevaVacante

                    p.tagline Publica una nueva Vacante !
                    a.btn.btn-azul(href="/vacantes/nueva") Publicar Nueva Vacante 

            
            
        .contenido-principal.contenedor 
            block contenido

